<!DOCTYPE html>
<link rel="stylesheet" href="/css/form.css?v=82368483" xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" href="/css/journal.css?v=82368483" xmlns="http://www.w3.org/1999/html">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Авторизация пользователя АХО</title>
</head>
<body>
<header>
    <div class="logo">
        <h2>Авторизация пользователя</h2>
    </div>
</header>
<main>
    <form id="dataForm" action="#" method="post" commonData-send="verification">
        <div class="authorization-panel">
            <div class="horizontal-center">
                <div class="text-block">Имя пользователя:</div>
                <div class="text-block"><select name="username" id="itemSelect" placeholder="Имя пользователя"></select></div>
                <div class="text-block"></div>
                <div class="text-block">Пароль:</div>
                <div class="text-block"><input type="password" id="itemInput" name="password" placeholder="Пароль"></div>
            </div>
            <div class="horizontal-center">
                <div class="submit"><button type="submit" class="form-button">Подтвердить</button></div>
            </div>
        </div>
    </form>
    <div id="responseMessage"></div>
</main>
<script src="/js/authorisation.js"></script>
</body>
</html>